/CantidadDeProductosInvalidoExcepcion.class
/DescuentoInvalidoExcepcion.class
/MesaEstadoInvalidoExcepcion.class
/MesaNoDisponibleExcepcion.class
/MesaNoOcupadaExcepcion.class
/MesasYaGeneradasExcepcion.class
/PrecioDeCostoInvalidoExcepcion.class
/PrecioDeVentaInvalidoExcepcion.class
/ProductoADarDeBajaNoExistenteExcepcion.class
/ProductoNoEncontradoExcepcion.class
/ProductoYaExistenteExcepcion.class